/**
 * Copyright (c) 2020 SSAT (The Schools Network) Ltd.
 * 
 * This software is released under the MIT License.
 * https://opensource.org/licenses/MIT
 */



// @ssat/moodle-theme-ssat theme.scss

#page-footer{
    a {
        color: #000;
        .icon{
            color: #000;
        }

    }
}

