/**
 * Copyright (c) 2020 SSAT (The Schools Network) Ltd.
 * 
 * This software is released under the MIT License.
 * https://opensource.org/licenses/MIT
 */
#page-footer a {
  color: #000; }
  #page-footer a .icon {
    color: #000; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvdGhlbWUuc2NzcyIsInRoZW1lLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTs7Ozs7RUNLRTtBRE1GO0VBRVEsV0FBVyxFQUFBO0VBRm5CO0lBSVksV0FBVyxFQUFBIiwiZmlsZSI6InRoZW1lLmNzcyJ9 */